body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.half, .half .container > .row {
  height: 100vh;
  min-height: 700px; }

@media (max-width: 991.98px) {
  .half .bg {
    height: 200px; } }

.half .contents {
  background: #f6fcf8; }

.half .contents, .half .bg {
  width: 50%; }
  @media (max-width: 1199.98px) {
    .half .contents, .half .bg {
      width: 100%; } }
  .half .contents .form-control, .half .bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 45px;
    background: #fff; }
    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

.half .bg {
  background-size: cover;
  background-position: center; }

.half a {
  color: #888;
  text-decoration: underline; }

.half .btn {
  height: 45px;
  padding-left: 30px;
  padding-right: 30px; }

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #E38569; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #E38569; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }

  .btn-orange{
    background-color:#E38569  !important;
    color: #fff !important;
  }

  .btn-orange:hover{
    background-color:#544E82  !important;
  }
  .btn-purple{
    background-color:#544E82  !important;
    color: #fff !important;
  }

  .btn-purple:hover{
    background-color:#E38569  !important;
  }

  #picture__input {
    display: none;
  }

  .image {
    width: 142px !important;
    height: 142px !important;
    border-radius: 200px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }

  .picture:hover {
    color: #777;
    background: #ccc;
  }

  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }

  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .picture__img {
    max-width: 100%;
  }

  .user-img{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    object-fit: cover;
 }
/* .user-img-profile{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    object-fit: cover;
} */
 .post-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
 }
.crop {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
}

.card-post{
    height: 150px;
}


.page-title{
    color:#6d7fcc;
    padding: 10px;
    margin: 10px 0px 20px 0px !important;
}

.title-line{
    box-shadow: inset 0 -3px 0 0 #E38569;
}


.card-title{
color: #E38569 !important;
}

.general-form{
    background-color: #fff !important;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    padding:  30px !important;
}

.post-content{
    background-color: #fff !important;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
}

.image-post {
    width: 400px !important;
    height: 350px !important;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }

.content-scroll{
	float: left;
	height: 530px;
	overflow-y: scroll;
	margin-bottom: 25px;
    overflow-x: hidden;

}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #E38569 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  /* *::-webkit-scrollbar-track {
    background: #ffffff;
  } */

  *::-webkit-scrollbar-thumb {
    background-color: #E38569;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  .p-color{
   color:#6d7fcc ;
  }

  .o-color{
    color:#E38569 ;
   }

   .p-description{
    color: #000;
   }

   .heder-form{
    background-color: #ebebeb !important;
    padding: 8px;
   }

   .form-footer{
    background-color: #ebebeb !important;
    padding: 8px;
   }

   .card-comment{
    background-color: #fff !important;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    margin: 20px 8px 20px 8px;
    /* height: fit-content; */
   }

   .comment-content-scroll{
    float: left;
	max-height: 500px;
	overflow-y: scroll;
    overflow-x: hidden;
    background: transparent;
    }

    .user-img-comment{
        margin-right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 200px;
        object-fit: cover;
    }

    .comment-time{
        font-size: 13px;
        color: #7b7b7b;
    }

    .sub-title{
        co
    }
